extends layout

block content
  -data = data || {}
  form(action="." method="POST")
    label(for="email") Email:
    input(
      type="email"
      id="email"
      name="email"
      value=data.email
    )
    label(for="password") Password:
    input(
      type="text"
      id="password"
      name="password"
      value = data.email
    )

    input(type="submit" value="Submit")
